---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { formatDate } from "@js/utils";
import "@styles/sidebar.less";

const posts = await getCollection("blog");
const featuredPosts = posts.filter((post) => post.data.isFeatured === true);
---

<h3 class="blog-sidebar_widget-header wow animate__fadeInRight">Featured Posts</h3>
{
	featuredPosts.map((post, index) => (
		<a class="blog-sidebar_widget-link wow animate__fadeInRight" data-wow-delay={`${0.1 + index * 0.1}s`} href={`/blog/${post.id}`}>
			<picture class="blog-sidebar_widget-image">
				<Image src={post.data.image} alt={post.data.imageAlt} width="60" height="60" decoding="async" />
			</picture>
			<div class="content-group">
				<h4 class="blog-sidebar_widget-h4">{post.data.title}</h4>
				<span class="blog-sidebar_widget-date">{formatDate(post.data.date)}</span>
			</div>
		</a>
	))
}
